/* Estilos básicos para el header */
header {
  background-color: #333; /* Negro oscuro para el fondo del header */
  color: #fff; /* Texto blanco para contraste */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

/* Estilos para el logo */
header .logo {
  display: flex;
  align-items: center;
  max-width: 10rem;
}

/* Estilos para el logo dentro del header */
header .logo img {
  height: 100px; /* Ajusta el tamaño del logo */
}

/* Estilos para el nav */
nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

/* Estilos para las listas de navegación */
nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Estilos para los elementos de la lista */
nav li {
  margin: 0 15px;
}

/* Estilos para los enlaces de navegación */
nav a {
  text-decoration: none;
  color: #fff; /* Texto blanco por defecto */
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Estilos para los enlaces activos */
nav .active {
  background-color: #f57c00; /* Naranja para el enlace activo */
}

/* Estilos para el hover de los enlaces */
nav a:hover {
  background-color: #d32f2f; /* Rojo para el hover */
}

/* Estilos para el widget del carrito */
header .cart-widget {
  display: flex;
  align-items: center;
}

/* Responsividad */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin: 10px 0;
  }
}
