/* Estilos básicos para el contenedor de la tarjeta del producto */
.containerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: bisque; 
  border: 1px solid #703c3c; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 20px;
  margin-left: 30%;
  margin-top: 5%;
  margin-bottom: 3%;
  max-width: 800px; 
  text-align: center;
}

/* Estilos para la imagen del producto */
.imgCards {
  width: 100%;
  height: auto;
  border-radius: 10px;
  max-width: 600px; 
}

/* Estilos para los datos de la tarjeta */
.datosCard {
  margin-top: 20px;
}

/* Estilos para el nombre del producto */
.datosCard h2 {
  color: #fff; 
  margin-bottom: 10px;
}

/* Estilos para el precio del producto */
.datosCard h3 {
  color: #ffff; 
  margin-bottom: 15px;
}

/* Estilos para la descripción del producto */
.datosCard p {
  color: #555; 
  font-size: 20px;
}

/* Estilos para el botón de terminar compra */
.BtnTerminarCompra {
  background-color: slategray; 
  color: #fff; 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.BtnTerminarCompra:hover {
  background-color: slateblue; 
}

/* Estilos para el componente de contador */
.Contador {
  margin-top: 20px;
  
}

/* Responsividad */
@media (max-width: 768px) {
  .containerCard {
    padding: 15px;
    margin: 15px;
  }

  .imgCards {
    max-width: 100%; 
  }
}

@media (max-width: 480px) {
  .containerCard {
    padding: 10px;
    margin: 10px;
  }

  .imgCards {
    max-width: 100%;
  }

  .datosCard h2,
  .datosCard h3,
  .datosCard p {
    font-size: 0.8rem; 
  }

  .BtnTerminarCompra {
    padding: 8px 15px;
    font-size: 0.9rem;
  }
}
