/* Estilos básicos para el contenedor del checkout */
.checkout-cart {
  padding: 20px;
  background-color: #fff; 
  border: 1px solid #000; 
  border-radius: 10px;
  max-width: 800px;
  margin: auto;
  margin-bottom: 3%;
}

/* Estilos para el título del checkout */
.title-checkout {
  color: slateblue;
  text-align: center;
  margin-bottom: 20px;
}

/* Estilos para los productos en el carrito */
.checkout-cart div {
  margin-bottom: 15px;
}

.checkout-cart p {
  color: #000; 
}

/* Estilos para el formulario */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  color: #000;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #000; 
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group input[type="number"] {
  -moz-appearance: textfield; 
}

.form-group input[type="number"]::-webkit-inner-spin-button,
.form-group input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Estilo para el mensaje de error */
.error-message {
  color: #d32f2f; 
  margin-top: 10px;
  text-align: center;
}

/* Estilos para el botón de formulario */
.btnForm {
  background-color: slategray; 
  color: #fff; 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  transition: background-color 0.3s ease;
}

.btnForm:hover {
  background-color: slateblue; 
}

/* Estilos para la cantidad total y número de orden */
.checkout-cart p:last-of-type {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  text-align: center;
  margin-top: 20px;
}

.orderId {
  color: #fff; 
  font-weight: bold;
}

/* Estilos para la imagen del logo en el agradecimiento */
.checkout-cart img {
  width: 150px;
  display: block;
  margin: 20px auto;
}

/* Responsividad */
@media (max-width: 768px) {
  .checkout-cart {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .checkout-cart {
    padding: 10px;
  }

  .form-group input {
    padding: 8px;
  }

  .btnForm {
    padding: 8px 16px;
  }

  .checkout-cart img {
    width: 100px;
    
  }
}
