footer{
    background-color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-top: 0px;
    border: 2px solid black;
}

.copyRight{
    color: white;
}