*{
  margin: 0;
  padding: 0;
}
/* Estilos básicos para el footer */
footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Estilos para el texto de copyright */
  .copyRight {
    margin: 10px 0;
    font-size: 0.9rem;
  }
  
  /* Estilos para el contenedor de las imágenes de redes sociales */
  .imgFooter {
    display: flex;
    justify-content: center;
    gap: 15px; 
    margin: 20px 0;
  }
  
  /* Estilos para las imágenes de redes sociales */
  .image-footer {
    width: 30px; 
    height: 30px;
    transition: opacity 0.3s ease;
  }
  
  /* Efecto de hover en las imágenes de redes sociales */
  .image-footer:hover {
    opacity: 0.8; 
  }
  
  /* Estilos para el logo */
  footer .logo {
    margin-top: 20px;
    max-width: 150px; 
  }
  
  /* Responsividad */
  @media (max-width: 768px) {
    .imgFooter {
      flex-direction: row;
      align-items: center;
    }
  
    .image-footer {
      width: 40px; 
      height: 40px;
      margin: 10px 0; 
    }
  }
  
  @media (max-width: 500px) {
    .image-footer {
      width: 50px; 
      height: 50px;
    }
  }
  